header{
  height: 63px;
  width: 100%;
  background-color: #323232;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  
  a{ font-family: Lato;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;

    display: inline-block;
    min-width: 13%;
    text-align: center;
    &:hover{
      color: #2eb398;
      text-decoration: none;
    }
  }
  .logo{
    display: flex;
    justify-content: center;
  }
}
.triangle{
  display: flex;
  justify-content: center;
}
#triangle-down {
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-top: 40px solid #323232;

}
section#portfolio{
  width: 100%;
  padding: 7%;

}
#about{
  display:flex;
  height: 341px;
  background-color:#2eb398;
  padding: 1% 9%;
  > div{
    border-left: 1px solid #219d84;
    border-right: 1px  solid #219d84;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
    .source_img{
      float: right;
      margin-top: 4%;
    }
    >div{
      padding: 0 2%;
    }
  }
}
#get{
  height: 100%;
  background-color: #323232;
  padding: 2% 1%;
  .border_bottom{
    margin-top: 2%;
    background-color: #323232;
  }
  .border_top{
    margin-top: 0;
    background-color: #323232;
  }
  h2,h4{
    color:#e0e0e0;
  }
  .get_border_top{

  }
  >div{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-left: 8%;
    padding-right: 8%;

    div:last-child{
      color: #e0e0e0;
    }
    button{width: 90px;
      height: 37px;
      background-color: #2eb398;
      border: 1px solid #2eb398;
      float: right;
    }
    input,textarea{
      background-color: #454545;
      margin-bottom: 1%;
      border: 1px solid #454545;
      width: 100%;
    }
    input{
      height: 38px;
      width:100%;
    }
    textarea{
      height: 150px;
    }
  }
  .colum_contact{

    .col-md-4{
      .icon_position{
        display: flex;
        flex-direction: column;
        margin-top: 13%;
        >div{
          display: flex;
          height: 100%;
          margin-bottom: 5%;
          >i{
            margin-right: 3%;
            line-height: 1;
          }
          >p{
            line-height: 1;
          }
        }

        .fa-envelope-o,.fa-map-marker,.fa-phone{
          color: #2eb398;
        }
      }
    }
  }

}